<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQ-Fire - Cadastrar Sensor</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        :root {
            --mq-red: #fb5757;
            --mq-light-bg: #f5f5f5;
        }
    </style>
</head>
<body class="min-h-screen flex items-center justify-center bg-[var(--mq-light-bg)] font-sans text-gray-800 relative overflow-hidden">

    <img src="imgs/fumaca.png" 
         alt="Fundo decorativo abstrato vermelho" 
         class="absolute right-0 top-0 w-[650px] h-auto transform translate-x-[20%] -translate-y-[10%] rotate-[-10deg] opacity-90 z-10 hidden lg:block">

    <div class="absolute top-4 left-4 lg:top-8 lg:left-8 z-40">
        <div class="text-lg font-extrabold cursor-pointer leading-none">
            <img src="imgs/icon.png" class="h-8">
        </div>
    </div>

    <div class="w-full max-w-lg bg-white p-8 md:p-10 rounded-xl shadow-2xl z-20">
        
        <h1 class="text-4xl font-normal mb-8 text-gray-800">
            Cadastrar Novo Local
        </h1>
        <a href="sensores.html" class="text-sm text-red-600 hover:underline mb-6 inline-block"> Voltar </a>

        <form method="POST" action="/sensores/register"  id="formCadastroSensor">
            
            <div class="mb-4">
                   <div id="erro" style="color:red; font-weight:bold;"></div>
                <label for="nome_local" class="block text-base font-medium text-gray-700 mb-1">
                    Nome da Sala / Local:
                </label>
                <input type="text" id="nome_local" name="nome_local" required
                       class="w-full bg-gray-100 border-none rounded-lg px-3 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300 transition duration-150 h-10" 
                       placeholder="Ex: Sala de Servidores">
            </div>

                <div class="mb-4">
                    <label for="chave_sensor" class="block text-base font-medium text-gray-700 mb-1">
                        Chave de Hardware / ID do Sensor:
                    </label>
                    <input type="text" id="chave_sensor" name="chave_sensor" required
                        class="w-full bg-gray-100 border-none rounded-lg px-3 py-3 text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-300 transition duration-150 h-10" 
                        placeholder="Ex: MQFIRE-SVR-001">
                    <p class="text-xs text-gray-500 mt-1 mb-16">Este ID deve ser único.</p>
                </div>
                
                <div>
                    <button type="submit" 
                            class="w-full bg-[--mq-red] text-white px-6 py-2 rounded-lg shadow-md hover:bg-rose-700 transition duration-300 text-base font-semibold h-10">
                        Cadastrar Local
                    </button>
                </div>
            </form>

    </div>
     <script>
     const params = new URLSearchParams(window.location.search);
     const erro = params.get('erro');

    if (erro) {
        const divErro = document.getElementById("erro");
        if (divErro) {
            divErro.innerText = erro;
        }
    }
    </script>
</body>
</html>